<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="camera-sharp"></ion-icon>
        </ion-buttons>
        <ion-title>
            ArteGram
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">

    <!-- refresher -->

    <!-- post -->
    <app-posts [posts]="posts"></app-posts>

    <!-- infinite scroll -->
    <ion-infinite-scroll threshold="150px" (ionInfinite)="siguiente($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
